$media-laptops: 1200px;
$media-small-desktops: 991px;
$media-tablets: 768px;
$media-phones: 420px;
$media-small-phones: 350px;

$main-color: black;
$main-bg-color: white;

$main-color-hover: rgb(120, 149, 178);
$main-color-active: rgb(243, 239, 224);

$spinner-color: #005d03;
